<ul>
<% @bookmark.each do |result| %>
  <li><a href='<%= result %>' target='_blank'><%= result %></a></li>
  <% end %>
</ul>
<form action='/submit_bookmark' method='get'>
  <label for='Go'>Want to add a bookmark?</label>
  <input type='submit' value='Go'>
</form>