<form action='/add_bookmark' method='post'>
  <label for='url'>URL address:</label>
  <input type='text' name='url' required>
  <label for='title'>Name of the link:</label>
  <input type='text' name='title' required>
  <input type='submit' value='Submit'>
</form>